@import url('https://fonts.googleapis.com/css2? Family= Roboto & display=swap');

body{
    background-color:#ddd;
    font-size: 15px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    /* text-decoration: line-through; */
    font-style: italic;
    /* letter-spacing: 2px; */
    /* word-spacing: 2; */
    /* line-height: 10px; */
    color: #0f141e;
}

.info-text p {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-style: initial;
    color: #86898f;
    letter-spacing: normal;
    line-height: 16px;
    margin: 0px;
}

/* .header-1 {
    border-bottom: blue solid 4px;
    border-left: blue solid;
    border-bottom-left-radius: 40px;
    border-right: blue solid;
    border-bottom-right-radius: 40px;
    border-top: blue solid 4px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.header-2 {
    border-bottom: blue solid 4px;
    border-left: blue solid;
    border-bottom-left-radius: 40px;
    border-right: blue solid;
    border-bottom-right-radius: 40px;
    border-top: blue solid 4px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.header-3 {
    border-bottom: blue solid 4px;
    border-left: blue solid;
    border-bottom-left-radius: 40px;
    border-right: blue solid;
    border-bottom-right-radius: 40px;
    border-top: blue solid 4px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
} */

/* .bg-green {
    background: #00ff4c;
}

.bg-yellow {
    background: #bbff00;
}

.bg-red {
    background: #fa0000f6;
} */
.hcolor-1 {
    color: black;
}

.hcolor-2 {
    color: black;
}

.hcolor-3 {
    color:black;
}
.container {
    max-width:  750px;;
    margin: auto;
    padding-top: 30px;
}
.image {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
}

.container h2 {
    margin-left: 20px;
}

.container form {
    margin-left: 20px;
}

.header-1 {
    margin-top: 30px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

@media (max-width: 605px) {
    /* Если ширина экрана будет меньше 500px  */
    .info {
        display: block;
        text-align: center;
    }
}

.info-text h4 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.avatar {
    width: 200px;
    border-radius: 20px;
    box-shadow: 10px -7px 14px rgba(0, 0, 0, 25);
}

.info-text a {
    margin-left: 10px;
}

a {
    color: #0f141e;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: blueviolet;
    font-size: small;
}

a:active {
    color: yellowgreen;
}

/* a:visited {
    color: #00ff4c;
} */
.btn {
    background: #B8860B;
    padding: 15px 20px;
    margin-top: 5px;
    color: #FFFAF0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
    color: orangered;
}

.linkeffect-1 {
    margin-top: 30px;
}

.textarea {
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 7px;
}

/* .message-1 {
    border-radius: 20px;
    padding-left: 10px;
}

.message-1 {
    border-radius: 20px;
    padding-left: 10px;
    margin-top: 6px;
} */

.list {
    padding: 0 20px;

}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.header-2 h3 {
    padding-left: 15px;
}

.link-list {
    list-style: none;
    padding: 0;
    
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ac0404cb;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

@media (max-width: 605px) {
    .form-row {
        margin-bottom: 10px;
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}


.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


